node_modules
# Keep environment variables out of version control
.env

/generated
/dist
# uploaded files
uploads/*
!uploads/.gitkeep

# private (gated) uploads
private-uploads/*
!private-uploads/.gitkeep
